
.container-username {
  text-align: right;
  border-radius: 13px;
}

.container-username-label {
  text-align: right;
}

.container-password {
  text-align: right;
  border-radius: 13px;
}

.container-password-label {
  text-align: right;
}

.remember-field {
  text-align: right;
}

.container-remember-label {
  text-align: left;
}

.main-form-container{
  max-width:1000px;
  margin:auto;
  margin-top:100px;
  display:flex;
  justify-content: center;
  align-items: center;
}
