.container-form {
  margin: auto;
  padding: 15px;
  text-align: center;
  border-radius: 13px;
  border: 2px solid black;
  display: inline-block;
}

.container-username {
  text-align: right;
  border-radius: 13px;
}

.container-username-label {
  text-align: right;
}

.container-password {
  text-align: right;
  border-radius: 13px;
}

.container-password-label {
  text-align: right;
}

.remember-field {
  text-align: right;
}

.container-remember-label {
  text-align: left;
}
